In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv('../../datasets/bigmac.csv', parse_dates=['Date'])

In [3]:
bigmac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [4]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 652 non-null    datetime64[ns]
 1   Country              652 non-null    object
 2   Price in US Dollars  652 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

In [5]:
bigmac.nunique()

Date                    12
Country                 58
Price in US Dollars    330
dtype: int64

#### The best approach would be to take the column with least number of unique values and puts it in the most outer level. Here, the Date column has less unique values

In [6]:
bigmac.set_index(keys = ['Date', 'Country'], inplace=True)

In [7]:
bigmac

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [8]:
#bigmac.set_index(keys = ['Country', 'Date'], inplace=True)
#bigmac

#### The index column values are un-sorted so we can use sort_values() to sort the index.
##### sort_values() will sort in ascending order, so the earliest date will come first and then the latest date. Withinthe first sorted index value say 2010-01-01,  it will sort all the values of the second index column

In [9]:
bigmac.sort_index()

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [10]:
bigmac.sort_index(ascending=False)

                          Price in US Dollars
Date       Country
2016-01-01 Vietnam                       2.67
           Venezuela                     0.66
           Uruguay                       3.74
           United States                 4.93
           Ukraine                       1.54
...                                       ...
2010-01-01 Canada                        3.97
           Britain                       3.67
           Brazil                        4.76
           Australia                     3.98
           Argentina                     1.84

[652 rows x 1 columns]

In [11]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [12]:
bigmac.index

MultiIndex([('2016-01-01',      'Argentina'),
            ('2016-01-01',      'Australia'),
            ('2016-01-01',         'Brazil'),
            ('2016-01-01',        'Britain'),
            ('2016-01-01',         'Canada'),
            ('2016-01-01',          'Chile'),
            ('2016-01-01',          'China'),
            ('2016-01-01',       'Colombia'),
            ('2016-01-01',     'Costa Rica'),
            ('2016-01-01', 'Czech Republic'),
            ...
            ('2010-01-01',      'Sri Lanka'),
            ('2010-01-01',         'Sweden'),
            ('2010-01-01',    'Switzerland'),
            ('2010-01-01',         'Taiwan'),
            ('2010-01-01',       'Thailand'),
            ('2010-01-01',         'Turkey'),
            ('2010-01-01',            'UAE'),
            ('2010-01-01',        'Ukraine'),
            ('2010-01-01',  'United States'),
            ('2010-01-01',        'Uruguay')],
           names=['Date', 'Country'], length=652)

In [13]:
bigmac.index.get_level_values('Date')

DatetimeIndex(['2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01',
               ...
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [14]:
bigmac.xs(key = ['2016-01-01']).head(5)

/Users/sunny/miniconda3/envs/py3.8/lib/python3.8/site-packages/IPython/core/interactiveshell.py:2922: PerformanceWarning: indexing past lexsort depth may impact performance.
  return runner(coro)

           Price in US Dollars
Country
Argentina                 2.39
Australia                 3.74
Brazil                    3.35
Britain                   4.22
Canada                    4.14

In [15]:
bigmac.xs(key = ['2016-01-01', 'Britain'])

Price in US Dollars    4.22
Name: (2016-01-01 00:00:00, Britain), dtype: float64

### Change index level index with set_names method

In [16]:
bigmac.head(1)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39

In [17]:
bigmac.index.set_names(['Date', 'Location'], inplace=True)

In [18]:
bigmac.head(1)

                      Price in US Dollars
Date       Location
2016-01-01 Argentina                 2.39

In [19]:
bigmac.index.set_names(names= 'Country', level=1, inplace=True)

In [20]:
bigmac.head(1)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39

In [21]:
bigmac.index.set_names(names= 'Location', level='Country', inplace=True)

In [22]:
bigmac.head(1)

                      Price in US Dollars
Date       Location
2016-01-01 Argentina                 2.39

### sort index method

In [23]:
bigmac.sort_index(ascending=[True, False])

                          Price in US Dollars
Date       Location
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83
...                                       ...
2016-01-01 Brazil                        3.35
           Belgium                       4.25
           Austria                       3.76
           Australia                     3.74
           Argentina                     2.39

[652 rows x 1 columns]

In [25]:
bigmac.sort_index(ascending=[False, True], inplace=True)

In [26]:
bigmac

                          Price in US Dollars
Date       Location
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Austria                       3.76
           Belgium                       4.25
           Brazil                        3.35
...                                       ...
2010-01-01 Turkey                        3.83
           UAE                           2.99
           Ukraine                       1.83
           United States                 3.58
           Uruguay                       3.32

[652 rows x 1 columns]

In [28]:
bigmac.sort_index(level=1, ascending=True)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
2010-07-01 Argentina                 3.56
2011-07-01 Argentina                 4.84
2012-01-01 Argentina                 4.64
2012-07-01 Argentina                 4.16
...                                   ...
2014-01-01 Vietnam                   2.84
2014-07-01 Vietnam                   2.83
2015-01-01 Vietnam                   2.81
2015-07-01 Vietnam                   2.75
2016-01-01 Vietnam                   2.67

[652 rows x 1 columns]

In [29]:
bigmac.sort_index(level=0, ascending=True)

                          Price in US Dollars
Date       Location
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [30]:
bigmac.sort_index(level='Date', ascending=True)

                          Price in US Dollars
Date       Location
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [31]:
bigmac = pd.read_csv('../../datasets/bigmac.csv', parse_dates=['Date'], index_col=['Date', 'Country'])

In [32]:
bigmac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [36]:
bigmac.sort_index(inplace=True)

In [38]:
bigmac.loc["2016-01-01"].head(10)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Austria                   3.76
           Belgium                   4.25
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14
           Chile                     2.94
           China                     2.68
           Colombia                  2.43

In [39]:
bigmac.loc["2016-01-01", "Belgium"].head(10)

Price in US Dollars    4.25
Name: (2016-01-01 00:00:00, Belgium), dtype: float64

#### We can see that if we pass an index and a column name, it doesn't throw an exception because Pandas stores each column as a series and it's a multi index series.
#### It's confusing for Pandas as well as any person to figure out if Price in US Dollars is an index label or column label

In [44]:
bigmac.loc["2016-01-01", "Price in US Dollars"].head(10)

Date        Country
2016-01-01  Argentina    2.39
            Australia    3.74
            Austria      3.76
            Belgium      4.25
            Brazil       3.35
            Britain      4.22
            Canada       4.14
            Chile        2.94
            China        2.68
            Colombia     2.43
Name: Price in US Dollars, dtype: float64

##### If there are many columnns and we want to find a column value of a multi index vale, we can use the multi index in a tuple (no list) and then the column name after a comma as shown below

In [48]:
bigmac.loc[("2016-01-01", "Brazil"), "Price in US Dollars"]

Date        Country
2016-01-01  Brazil     3.35
Name: Price in US Dollars, dtype: float64

#### ("2016-01-01") without a comma will be treated as a string not a tuple, where as, ("2016-01-01", ) with a comma is treated as a tuple not a string and it will find all the rows and column for the index passed.
##### 2 Examples are shown below

In [54]:
bigmac.loc[("2016-01-01")].head(10)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Austria                   3.76
           Belgium                   4.25
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14
           Chile                     2.94
           China                     2.68
           Colombia                  2.43

In [53]:
bigmac.loc[("2016-01-01",)].head(10)

           Price in US Dollars
Country
Argentina                 2.39
Australia                 3.74
Austria                   3.76
Belgium                   4.25
Brazil                    3.35
Britain                   4.22
Canada                    4.14
Chile                     2.94
China                     2.68
Colombia                  2.43

### transpose

In [56]:
bigmac.transpose()

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

#### stack method

In [63]:
stats = bigmac = pd.read_csv('../../datasets/worldstats.csv', index_col=['country', 'year'])

In [64]:
stats.head(2)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12

In [65]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11211 entries, ('Arab World', 2015) to ('Zimbabwe', 1960)
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Population  11211 non-null  float64
 1   GDP         11211 non-null  float64
dtypes: float64(2)
memory usage: 223.0+ KB

#### The stack method takes the column based index and moves it on to the row based index

In [67]:
stats.stack()

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
                  GDP           2.873600e+12
            2013  Population    3.765043e+08
                                    ...
Zimbabwe    1962  GDP           1.117602e+09
            1961  Population    3.876638e+06
                  GDP           1.096647e+09
            1960  Population    3.752390e+06
                  GDP           1.052990e+09
Length: 22422, dtype: float64